USE [QLDSV_TC]
GO
/****** Object:  StoredProcedure [dbo].[SP_BDMH]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BDMH]
@NIENKHOA NCHAR(9), @HOCKY INT, @MONHOC NVARCHAR(50), @NHOM INT
AS
BEGIN 
	DECLARE @MAMH NCHAR(10), @MALTC NCHAR(10)
	SELECT @MAMH = MAMH
	FROM MONHOC MH
	WHERE MH.TENMH = @MONHOC

	SELECT @MALTC = MALTC
	FROM LOPTINCHI LTC
	WHERE MAMH = @MAMH AND NIENKHOA = @NIENKHOA AND NHOM = @NHOM AND HOCKY = @HOCKY

	SELECT MASV, DIEM_CC, DIEM_GK, DIEM_CK
	INTO #B1
	FROM DANGKY DK
	WHERE MALTC = @MALTC

	SELECT MASV
	INTO #B2
	FROM DANGKY DK
	WHERE MALTC = @MALTC

	SELECT #B2.MASV, HO, TEN
	INTO #B3
	FROM SINHVIEN SV INNER JOIN #B2 ON SV.MASV = #B2.MASV
	SET NOCOUNT ON
	  IF 1=0 BEGIN  
        SET FMTONLY OFF  
    END 
	SELECT #B1.MASV, #B3.HO, #B3.TEN, DIEM_CC, DIEM_GK, DIEM_CK
	FROM #B1 INNER JOIN #B3 ON #B1.MASV = #B3.MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BDMHLTC]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BDMHLTC]
@NIENKHOA NCHAR(9), @HOCKY INT, @MONHOC NVARCHAR(50), @NHOM INT
AS
BEGIN
	DECLARE @TEMP TABLE
	(
		MASV NCHAR(10),
		HO NVARCHAR(40),
		TEN NVARCHAR(10),
		DIEM_CC INT,
		DIEM_GK FLOAT,
		DIEM_CK FLOAT
	)
	
	INSERT INTO @TEMP EXEC SP_BDMH @NIENKHOA, @HOCKY, @MONHOC, @NHOM
	SELECT * FROM @TEMP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_LTC]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECK_LTC]
@NIENKHOA NCHAR(9), @MAMH NCHAR(10), @NHOM INT, @HOCKY INT
AS
BEGIN
	IF EXISTS(SELECT MALTC FROM LOPTINCHI WHERE NIENKHOA = @NIENKHOA AND MAMH = @MAMH AND NHOM = @NHOM AND HOCKY = @HOCKY)
		SELECT KT = 1
	ELSE
		IF EXISTS(SELECT MALTC FROM LINK0.QLDSV_TC.DBO.LOPTINCHI WHERE NIENKHOA = @NIENKHOA AND MAMH = @MAMH AND NHOM = @NHOM AND HOCKY = @HOCKY)
			SELECT KT = 1
		ELSE
			SELECT KT = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMALOP]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMALOP]
@MLOP NCHAR(10)
AS 
IF EXISTS(SELECT MALOP FROM DBO.LOP WHERE MALOP = @MLOP)
	BEGIN
		SELECT 'SV' = 1 
	END
ELSE
IF EXISTS(SELECT MALOP FROM LINK0.QLDSV_TC.DBO.LOP WHERE MALOP = @MLOP)
	BEGIN
		SELECT 'SV' = 2
	END
ELSE
	SELECT 'SV' = 0
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKMASINHVIEN]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKMASINHVIEN] 
@MSV NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT MASV FROM DBO.SINHVIEN WHERE MASV = @MSV)
	BEGIN
		SELECT 'SV' = 1 
	END
ELSE
IF EXISTS(SELECT MASV FROM LINK0.QLDSV_TC.DBO.SINHVIEN WHERE MASV = @MSV)
	BEGIN
		SELECT 'SV' = 2
	END
ELSE
	SELECT 'SV' = 0
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTENLOP]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTENLOP]
@TLOP NVARCHAR(50)
AS 
IF EXISTS(SELECT TENLOP FROM DBO.LOP WHERE TENLOP = @TLOP)
	BEGIN
		SELECT 'SV' = 1 
	END
ELSE
IF EXISTS(SELECT TENLOP FROM LINK0.QLDSV_TC.DBO.LOP WHERE TENLOP = @TLOP)
	BEGIN
		SELECT 'SV' = 2
	END
ELSE
	SELECT 'SV' = 0

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTENMH]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTENMH]
@TENMH NVARCHAR(50)
AS
BEGIN
	IF EXISTS(SELECT * FROM MONHOC WHERE TENMH = @TENMH)
		SELECT KT = 1
	ELSE 
		IF EXISTS(SELECT * FROM LINK0.QLDSV_TC.DBO.MONHOC WHERE TENMH = @TENMH)	
			SELECT KT = 1
		ELSE
			SELECT KT = 0
END

GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKTMAMH]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CHECKTMAMH]
@MAMH NVARCHAR(50)
AS
BEGIN
	IF EXISTS(SELECT * FROM MONHOC WHERE MAMH = @MAMH)
		SELECT KT = 1
	ELSE 
		IF EXISTS(SELECT * FROM LINK0.QLDSV_TC.DBO.MONHOC WHERE MAMH = @MAMH)	
			SELECT KT = 1
		ELSE
			SELECT KT = 0
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGKY_LTC]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SP_DANGKY_LTC]
@MALTC INT, @MASV NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT * FROM DANGKY WHERE MALTC = @MALTC AND MASV = @MASV)
		BEGIN
			UPDATE DANGKY SET HUYDANGKY = 0 WHERE MALTC = @MALTC AND MASV = @MASV
		END
	ELSE
		BEGIN
			INSERT INTO DANGKY(MALTC,MASV)
			VALUES (@MALTC, @MASV)
		END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DANGNHAP]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DANGNHAP]
@TENLOGIN NVARCHAR (50)
AS
DECLARE @TENUSER NVARCHAR(50)
SELECT @TENUSER=NAME FROM sys.sysusers WHERE sid = SUSER_SID(@TENLOGIN)
 
 SELECT USERNAME = @TENUSER, 
  HOTEN = (SELECT HO+ ' '+ TEN FROM GIANGVIEN  WHERE MAGV = @TENUSER ),
   ROLENAME=NAME
   FROM sys.sysusers 
   WHERE UID = (SELECT GROUPUID 
                 FROM SYS.SYSMEMBERS 
                   WHERE MEMBERUID= (SELECT UID FROM sys.sysusers 
                                      WHERE NAME=@TENUSER))
GO
/****** Object:  StoredProcedure [dbo].[SP_DSDHP]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSDHP]
@MALOP NCHAR(10), @NIENKHOA NCHAR(9), @HOCKY INT
AS
BEGIN
	SELECT MASV, HOTEN = HO + TEN
	INTO #B1
	FROM SINHVIEN SV
	WHERE SV.MALOP = @MALOP

	SELECT MASV
	INTO #B2
	FROM SINHVIEN SV
	WHERE SV.MALOP = @MALOP

	SELECT MASV, HOCPHI
	INTO #B3
	FROM HOCPHI HP
	WHERE NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY

	SELECT MASV, SOTIENDONG
	INTO #B4
	FROM CT_DONGHOCPHI CTDHP
	WHERE NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY
	
	SELECT #B2.MASV, #B3.HOCPHI
	INTO #B5
	FROM #B2 INNER JOIN #B3 ON #B2.MASV = #B3.MASV

	SELECT #B2.MASV, #B4.SOTIENDONG 
	INTO #B6
	FROM #B2 INNER JOIN #B4 ON #B2.MASV = #B4.MASV

	SELECT #B5.MASV, #B5.HOCPHI, #B6.SOTIENDONG
	INTO #B7
	FROM #B5 INNER JOIN #B6 ON #B5.MASV = #B6.MASV

	SELECT STT = ROW_NUMBER() OVER (ORDER BY #B1.HOTEN),[HỌ VÀ TÊN] = #B1.HOTEN, [HỌC PHÍ] = #B7.HOCPHI, [SỐ TIỀN ĐÓNG] = #B7.SOTIENDONG
	FROM #B1 INNER JOIN #B7 ON #B1.MASV = #B7.MASV
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DSDK]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Viết SP liệt kê danh sách sinh viên đăng ký lớp tín chỉ dựa vào các tham số :
-- @NIENKHOA, @HOCKY, @MAMH, @NHOM
--Kết xuất : Tên khoa quản lý lớp, Tên MH, MASV, HO, TEN,
CREATE proc [dbo].[sp_DSDK] 
@NIENKHOA NVARCHAR(11), @HOCKY INT,@MAMH NVARCHAR(10), @NHOM INT
as
begin
	DECLARE @MALTC INT
	SELECT @MALTC = MALTC
	FROM LOPTINCHI LTC
	WHERE MAMH = @MAMH AND NIENKHOA = @NIENKHOA AND @NHOM = NHOM AND @HOCKY = HOCKY and HUYLOP = 0

	SELECT MASV
	INTO #B1
	FROM DANGKY DK   
	WHERE DK.MALTC = @MALTC

	SELECT #B1.MASV, SV.HO, SV.TEN, MALOP
	FROM #B1 INNER JOIN SINHVIEN SV ON #B1.MASV = SV.MASV
	ORDER BY SV.TEN, SV.HO
end

GO
/****** Object:  StoredProcedure [dbo].[SP_DSLTC]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSLTC] 
@NIENKHOA NCHAR(9), @HOCKY INT, @TENKHOA NVARCHAR(50)
AS 
BEGIN
	DECLARE @MAKHOA NVARCHAR(10)
	SELECT @MAKHOA = K.MAKHOA 
	FROM KHOA K 
	WHERE K.TENKHOA = @TENKHOA
	SELECT LTC.MALTC, LTC.NHOM, LTC.SOSVTOITHIEU
	INTO #B1
	FROM LOPTINCHI LTC WITH (INDEX =IX_MAKHOA_NIENKHOA_HOCKY_HUYLOP) 
	WHERE LTC.MAKHOA = @MAKHOA AND LTC.NIENKHOA = @NIENKHOA AND LTC.HOCKY = @HOCKY AND LTC.HUYLOP = 0

	SELECT LTC.MALTC,LTC.MAGV
	INTO #B2
	FROM LOPTINCHI LTC WITH (INDEX =IX_MAKHOA_NIENKHOA_HOCKY_HUYLOP) 
	WHERE LTC.MAKHOA = @MAKHOA AND LTC.NIENKHOA = @NIENKHOA AND LTC.HOCKY = @HOCKY AND LTC.HUYLOP = 0

	SELECT LTC.MALTC,LTC.MAMH
	INTO #B3
	FROM LOPTINCHI LTC WITH (INDEX =IX_MAKHOA_NIENKHOA_HOCKY_HUYLOP) 
	WHERE LTC.MAKHOA = @MAKHOA AND LTC.NIENKHOA = @NIENKHOA AND LTC.HOCKY = @HOCKY AND LTC.HUYLOP = 0
	

	SELECT #b1.MALTC, #b1.NHOM, #b1.SOSVTOITHIEU, sosvdadangky = count(dk.MALTC)
	into #b4
	FROM DANGKY dk right join #b1 on dk.MALTC = #b1.MALTC and dk.HUYDANGKY = 0
	group by #b1.MALTC, #b1.NHOM, #b1.SOSVTOITHIEU
	
	SELECT #b2.MALTC, hotengv = gv.ho + gv.ten
	into #b5
	from #b2 inner join GIANGVIEN gv on #b2.MAGV = gv.MAGV

	SELECT #b3.MALTC, mh.TENMH
	into #b6
	from #b3 inner join MONHOC mh on #b3.MAMH = mh.MAMH

	select #b5.MALTC, #b5.hotengv, #b6.TENMH
	into #b7
	from #b5, #b6
	where #b5.MALTC = #b6.MALTC

	select STT=ROW_NUMBER() over (order by #b7.TENMH),#b7.TENMH, #b4.NHOM, #b7.hotengv, #b4.SOSVTOITHIEU, #b4.sosvdadangky
	from #b7, #b4 where #b7.MALTC = #b4.MALTC
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DSLTC_NIENKHOAHOCKY]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROC [dbo].[SP_DSLTC_NIENKHOAHOCKY]
@NK NCHAR(9), @HK INT
AS 

BEGIN
	--SET @SOSVDADK = COUNT(SELECT LOPTINCHI.MALTC FROM LOPTINCHI INNER JOIN DANGKY ON LOPTINCHI.MALTC = DANGKY.MALTC)
	SELECT STT=ROW_NUMBER() OVER(ORDER BY MH.MAMH,NHOM), MH.MAMH, MH.TENMH, NHOM, TENGV=(SELECT HO + ' ' + TEN FROM GIANGVIEN WHERE LOPTINCHI.MAGV = GIANGVIEN.MAGV), SOSVTOITHIEU,SOSVDADK = COUNT(DK.MASV),  LOPTINCHI.MALTC
	FROM LOPTINCHI
	LEFT JOIN (SELECT MAMH, TENMH FROM MONHOC) MH 
	ON LOPTINCHI.MAMH = MH.MAMH
	LEFT JOIN (SELECT MALTC, MASV FROM DANGKY WHERE HUYDANGKY = 0) DK 
	ON DK.MALTC = LOPTINCHI.MALTC
	WHERE LOPTINCHI.NIENKHOA = @NK and LOPTINCHI.HOCKY = @HK and LOPTINCHI.HUYLOP = 0 
	GROUP BY MH.MAMH, MH.TENMH, NHOM,LOPTINCHI.MAGV, SOSVTOITHIEU,LOPTINCHI.MALTC

END

GO
/****** Object:  StoredProcedure [dbo].[SP_DSLTCDADANGKY]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_DSLTCDADANGKY] 
@MSV NCHAR(10) , @NIENKHOA NVARCHAR(11), @HOCKY INT 
AS 

BEGIN
	SELECT ROW_NUMBER() over(ORDER BY MH.TENMH, LTC.NHOM) STT,LTC.MAMH,TENMH,NIENKHOA,HOCKY,NHOM, LTC.MALTC
	FROM (SELECT MALTC FROM DANGKY WHERE MASV = @MSV AND HUYDANGKY = 0) DS
	INNER JOIN (SELECT MALTC,MAMH,NIENKHOA,HOCKY,NHOM FROM LOPTINCHI) LTC 
		ON DS.MALTC = LTC.MALTC
	INNER JOIN (SELECT MAMH,TENMH FROM MONHOC) MH 
		ON LTC.MAMH = MH.MAMH
	WHERE NIENKHOA = @NIENKHOA AND HOCKY = @HOCKY 
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DSSVDKLTC]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DSSVDKLTC]
@NIENKHOA NCHAR(9), @HOCKY INT, @MAMH NCHAR(10), @NHOM INT
AS
BEGIN
	DECLARE @MALTC INT
	SELECT @MALTC = MALTC
	FROM LOPTINCHI LTC WITH (INDEX = IX_MAMH_NIENKHOA_NHOM_HOCKY)
	WHERE MAMH = @MAMH AND NIENKHOA = @NIENKHOA AND @NHOM = NHOM AND @HOCKY = HOCKY and HUYLOP = 0

	SELECT MASV
	INTO #B1
	FROM DANGKY DK 
	WHERE DK.MALTC = @MALTC

	SELECT STT=ROW_NUMBER() over (order by #b1.masv),#B1.MASV, SV.HO, SV.TEN, PHAI, MALOP
	FROM #B1 INNER JOIN SINHVIEN SV ON #B1.MASV = SV.MASV
	ORDER BY SV.TEN, SV.HO
END

GO
/****** Object:  StoredProcedure [dbo].[SP_LAY_HOTENSV]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LAY_HOTENSV]
@MASV NCHAR(10)
AS
BEGIN
	SELECT HOTEN = HO + ' ' +  TEN FROM SINHVIEN WHERE MASV = @MASV
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PD]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PD]
@MASV NCHAR(10)
AS
BEGIN
	SELECT DK.MALTC, DIEM_HM = DIEM_CC*0.1 + DIEM_GK*0.3 + DIEM_CK*0.6
	INTO #B1
	FROM DANGKY DK
	WHERE DK.MASV = @MASV
	
	SELECT DK.MALTC
	INTO #B2
	FROM DANGKY DK
	WHERE DK.MASV = @MASV

	SELECT LTC.MALTC, LTC.MAMH
	INTO #B3
	FROM LOPTINCHI LTC RIGHT JOIN #B2 ON LTC.MALTC = #B2.MALTC AND LTC.HUYLOP = 0
	
	SELECT #B3.MALTC, MH.TENMH
	INTO #B4
	FROM #B3 INNER JOIN MONHOC MH ON MH.MAMH = #B3.MAMH
	
	SELECT #B4.TENMH, DIEM_HM = MAX(#B1.DIEM_HM)
	FROM #B1 INNER JOIN #B4 ON #B1.MALTC = #B4.MALTC
	GROUP BY #B4.TENMH
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_PDHOPLE]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PDHOPLE]
@MASV NCHAR(10)
AS
BEGIN
	DECLARE @TEMP TABLE
	(
		TENMH NVARCHAR(50),
		DIEM_HM FLOAT
	)
	
	INSERT INTO @TEMP EXEC SP_PD @MASV
	SELECT * FROM @TEMP
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TAOLOGIN]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TAOLOGIN]
  @LGNAME VARCHAR(50),
  @PASS VARCHAR(50),
  @USERNAME VARCHAR(50),
  @ROLE VARCHAR(50)
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS,'QLDSV_TC'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
     RETURN 1
 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RETURN 2
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE= 'PGV' OR @ROLE= 'KHOA' OR @ROLE= 'PKT'
  BEGIN 
    EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
    EXEC sp_addsrvrolemember @LGNAME, 'ProcessAdmin'
  END
RETURN 0  -- THANH CONG

GO
/****** Object:  StoredProcedure [dbo].[TIM_SV]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIM_SV] @MASV NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT * FROM SINHVIEN WHERE MASV = @MASV)
		RETURN 1
	ELSE 
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[Xoa_Login]    Script Date: 5/22/2022 8:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROC [dbo].[Xoa_Login]
  @LGNAME VARCHAR(50),
  @USRNAME VARCHAR(50)
  
AS
EXEC SP_DROPUSER @USRNAME
  EXEC SP_DROPLOGIN @LGNAME

GO
